# Week 1 · Day 2: Docker ML Lab Verification

**Student Name:** Aaryal Chaudhary
**Student ID:** 11496
**Docker Hub Repository:** https://hub.docker.com/r/aaryal3/my-first-ml

## 1. Local Training Output
- Learned Equation: (7.57 × Study Hours) + 34.94
- R² Score: 0.9880 (98.8%)
<img width="707" height="830" alt="Screenshot 2026-10-28 173142" src="https://github.com/user-attachments/assets/9070f436-667d-4b7e-b01e-6482f506f267" />


## 2. Verification
- Pushed custom ML image to Docker Hub
<img width="1917" height="958" alt="Screenshot 2026-10-28 173604" src="https://github.com/user-attachments/assets/9cea9472-63de-40b8-8104-33cef1d8571a" />

- Pulled official course image `alkimi/ml:week1`
<img width="760" height="110" alt="Screenshot 2026-10-28 173704" src="https://github.com/user-attachments/assets/404b0588-6f02-4199-b171-017e81f6669e" />

- Launched JupyterLab on localhost:8888 successfully
<img width="1917" height="1031" alt="Screenshot 2026-10-28 173828" src="https://github.com/user-attachments/assets/aa8e113a-406b-4b2c-9f87-402488943ffb" />
